<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <input formControlName="name" placeholder="Name" />
    <input formControlName="email" placeholder="Email" />
    <input formControlName="age" type="number" placeholder="Age" />
    
    <select formControlName="gender">
      <option value="">Select Gender</option>
      <option value="MALE">Male</option>
      <option value="FEMALE">Female</option>
    </select>
  
    <input formControlName="password" type="password" placeholder="Password" />
  
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>